body {
    display: table;
    width: 100%;
    background-color: #272526;
}

body .leftHalf {
    position: relative;
    display: block;
    width: 20%;
    float: left;
}

body .rightHalf {
    position: relative;
    display: block;
    width: 80%;
    float: right;
}

.headerHookahs .layer img {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 1270px;
    height: 400px;
}

.headerHookahs {
    position: relative;
    margin-left: 36px;
}

.headerHookahs .menu {
    position: relative;
    display: block;
    float: left;
    top: 35px;
}

.headerHookahs .setting {
    position: relative;
    display: block;
    float: left;
    top: 13px;
    left: 18px;
}

.headerHookahs .radio {
    position: relative;
    display: block;
    float: left;
    top: 30px;
    left: 60px;
}

.headerHookahs .speaker {
    position: relative;
    display: block;
    float: left;
    top: 10px;
    left: 80px;
}

.allInfoHookahs {
    position: relative;
    display: table;
    height: 700px;
    top: 150px;
    width: 100%;
}

.allInfoHookahs .scrollInfo {
    position: relative;
    display: inline-block;
    width: 75%;
    float: left;
    overflow-y: scroll;
    direction: rtl;
    height: 600px;
}

.scrollInfo::-webkit-scrollbar {
    width: 2px;
}

.scrollInfo::-webkit-scrollbar-track {
    background-color: #333333;
    width: 2px;
}

.scrollInfo::-webkit-scrollbar-thumb {
    background: url("../../../src/img/png/Rectangle .png") no-repeat;
}

.nameHookah {
    position: relative;
    top: 220px;
    float: left;
    left: 120px;
    direction: ltr;
}

.nameHookah h2 {
    font-size: 45px;
    line-height: 10px;
    color: #ffffff;
    font-weight: normal;
}

.advertising {
    position: relative;
    display: block;
    top: 260px;
    direction: ltr;
    left: -265px;
    float: left;
}

.advertising h3 {
    font-size: 26px;
    line-height: 5px;
    color: #ffffff;
    font-weight: normal;

}

.advertisingText {
    position: relative;
    top: 300px;
    float: left;
    left: 120px;
    direction: ltr;
}

.advertisingText p {
    font-size: 20px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
}

.allInfoHookahs .orderHookahs {
    position: relative;
    display: inline-block;
    width: 25%;
    float: left;
}

.orderHookahs button {
    position: relative;
    display: block;
    width: 225px;
    padding: 12px 9px 12px 9px;
    border: 1px solid #ffffff;
    background: transparent;
    top: 400px;
    left: 40px;
}

.orderHookahs button a {
    font-size: 18px;
    line-height: 4px;
    text-decoration: none;
    color: #ffffff;
}

.footerHook {
    position: relative;
    display: table;
    width: 100%;
    top: 107px;
}

p {
    font-size: 9px;
    color: #ffffff;
    text-align: center;
    top: 10px;
}



.account .nikNameHook {
    position: relative;
    display: inline;
    font-size: 18px;
    line-height: 4px;
    color: #ffffff;
    top: 125px;
    left: 137px;
}

.account .statusHook {
    position: relative;
    display: inline;
    font-size: 15px;
    line-height: 3px;
    color: #ffffff;
    top: 145px;
    left: 35px;
}

.review {
    position: relative;
    display: block;
    height: 50px;
    top: 30px;
    left: 70px;
}

.review .reviewBlock {
    display: table;
    height: 50px;
}

.reviewCircle {
    position: absolute;
}

.reviewCircle .circleRev {
    position: relative;
    margin-top: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #ffffff;
}

.reviewSquare {
    position: relative;
    left: 20px;

}

.reviewSquare .squareRev {
    margin-top: 5px;
    position: relative;
    width: 37px;
    height: 14px;
    border: 1px solid;
    border-color: #ffffff;
}

