body {
    display: table;
    width: 100%;
    background-color: #272526;
}

body .leftHalf {
    position: relative;
    display: block;
    width: 20%;
    float: left;
}

body .rightHalf {
    position: relative;
    display: block;
    width: 80%;
    float: right;
}

.headerMap .layer img {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 1270px;
    height: 400px;
}

.headerMap {
    position: relative;
    margin-left: 36px;
    height: 140px;
}

.headerMap .menu {
    position: relative;
    display: block;
    float: left;
    top: 35px;
}

.headerMap .setting {
    position: relative;
    display: block;
    float: left;
    top: 13px;
    left: 18px;
}

.headerMap .radio {
    position: relative;
    display: block;
    float: left;
    top: 30px;
    left: 60px;
}

.headerMap .speaker {
    position: relative;
    display: block;
    float: left;
    top: 10px;
    left: 80px;
}

.titleMap {
    position: relative;
    display: block;
}

.titleMap h1 {
    position: relative;
    display: block;
    font-size: 45px;
    line-height: 10px;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
}

.titleMap h2 {
    position: relative;
    display: block;
    font-size: 26px;
    line-height: 5px;
    color: #ffffff;
    font-weight: normal;
    top: 30px;
    text-align: center;
}

.codMap {
    position: relative;
    top: 110px;
    left: 136px;
    width: 1270px;
    height: 600px;
}

.footerMap {
    position: relative;
    display: table;
    width: 100%;
    height: 60px;
    top: 140px;
}

.footerMap .logoMain {
    position: relative;
    display: inline-block;
    width: 20%;
    float: left;
}

.footerMap p {
    position: relative;
    display: inline-block;
    width: 60%;
    float: left;
}

.footerMap .infoTel {
    position: relative;
    display: inline-block;
    width: 20%;
    float: right;
}

p {
    font-size: 9px;
    color: #ffffff;
    text-align: center;
    top: 10px;
}

.account {
    position: relative;
    display: block;
    height: 210px;
}

.account .nikNameMap {
    position: relative;
    display: inline;
    font-size: 18px;
    line-height: 4px;
    color: #ffffff;
    top: 125px;
    left: 137px;
}

.account .statusMap {
    position: relative;
    display: inline;
    font-size: 15px;
    line-height: 3px;
    color: #ffffff;
    top: 145px;
    left: 35px;
}

.listHookahs .scrollList {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    direction: rtl;
}

.listHookahs {
    position: relative;
    display: block;
    height: 750px;
}

.hookahsBlock1 {
    position: relative;
    display: block;
    height: 270px;
    top: 30px;
    left: 70px;
    direction: ltr;
}

.nameHookahs {
    height: 50px;
}

.hookahsBlock1 .nameHookahs span:nth-child(1) {
    display: block;
    position: relative;
    height: 19px;
    font-size: 24px;
    line-height: 5px;
    color: #ffffff;

}

.hookahsBlock1 .nameHookahs span:nth-child(2) {
    display: block;
    position: relative;
    height: 15px;
    font-size: 20px;
    line-height: 4px;
    color: #ffffff;
    font-weight: lighter;
    padding-top: 5px;

}


.hookahsBlock1 .infoText p {
    display: block;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    height: 50px;
    top: -10px;
}

.hookahsBlock1 .ratingArea1 input:checked ~ label,
#reviewStars-input label,
#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
    background: url('../../../src/img/png/zvezda.png') no-repeat;
}

.hookahsBlock1 .ratingArea1 {
    height: 30px;
    overflow: hidden;
    *zoom: 1;
    position: relative;
    float: left;
}

.hookahsBlock1 .ratingArea1 input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.hookahsBlock1 .ratingArea1 input:checked ~ label {
    background-position: 0 -19px;
    height: 20px;
    width: 20px;
}

.hookahsBlock1 .ratingArea1 label {
    background-position: 0 0;
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.hookahsBlock1 .ratingArea1 label:hover,
.ratingArea1 label:hover ~ label {
    background-position: 0 -19px;
    height: 20px;
    width: 20px;
}

.infoHookahs {
    position: relative;
    height: 25px;
    top: 30px;
}

.hookahsBlock1 .infoHookahs span:nth-child(1) {
    position: absolute;
    display: block;
    font-size: 20px;
    line-height: 4px;
    color: #ffffff;
    float: left;
}

.hookahsBlock1 .infoHookahs span:nth-child(2) {
    position: relative;
    display: block;
    font-size: 26px;
    line-height: 5px;
    color: #ffffff;
    margin-left: 185px;
}

.hookahsBlock1 .telInfo {
    position: relative;
    display: block;
    top: 30px;
    height: 50px;
}

.hookahsBlock1 .telInfo img {
    position: relative;
    left: -85px;
}

.telInfo span {
    left: 70px;
    top: -15px;
}

.hookahsBlock1 .order {
    position: relative;
    display: block;
    height: 50px;
    top: 30px;
}

.telInfo span {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 4px;
    color: #ffffff;
}

.order button {
    position: relative;
    display: block;
    width: 225px;
    padding: 12px 9px 12px 9px;
    border: 1px solid #ffffff;
    background: transparent;
}

.order button a {
    font-size: 18px;
    line-height: 4px;
    text-decoration: none;
    color: #ffffff;
}

.hookahsBlock2 {
    position: relative;
    display: block;
    height: 270px;
    margin-top: 30px;
    direction: ltr;
}

.hookahsBlock2 .ratingArea2 input:checked ~ label,
#reviewStars-input label,
#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
    background: url('../../../src/img/png/zvezda.png') no-repeat;
}

.hookahsBlock2 .ratingArea2 {
    overflow: hidden;
    *zoom: 1;
    position: relative;
    float: left;
}

.hookahsBlock2 .ratingArea2 input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.hookahsBlock2 .ratingArea2 input:checked ~ label {
    background-position: 0 -17px;
    height: 20px;
    width: 20px;
}

.hookahsBlock2 .ratingArea2 label {
    background-position: 0 0;
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.hookahsBlock2 .ratingArea2 label:hover,
.ratingArea2 label:hover ~ label {
    background-position: 0 -17px;
    height: 20px;
    width: 20px;
}

.hookahsBlock2 {
    position: relative;
    display: block;
    height: 270px;
    top: 30px;
    left: 70px;
}

.nameHookahs {
    height: 50px;
}

.hookahsBlock2 .nameHookahs span:nth-child(1) {
    display: block;
    height: 19px;
    font-size: 24px;
    line-height: 5px;
    color: #ffffff;
}

.hookahsBlock2 .nameHookahs span:nth-child(2) {
    display: block;
    height: 15px;
    font-size: 20px;
    line-height: 4px;
    color: #ffffff;
    font-weight: lighter;
    padding-top: 5px;
}


.hookahsBlock2 .infoText p {
    display: block;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    height: 50px;
    top: -10px;
}

.infoHookahs {
    position: relative;
    height: 25px;
    top: 30px;
}

.hookahsBlock2 .infoHookahs span:nth-child(1) {
    position: absolute;
    display: block;
    font-size: 20px;
    line-height: 4px;
    color: #ffffff;
    float: left;
}

.hookahsBlock2 .infoHookahs span:nth-child(2) {
    position: relative;
    display: block;
    font-size: 26px;
    line-height: 5px;
    color: #ffffff;
    margin-left: 185px;
}

.hookahsBlock2 .telInfo {
    position: relative;
    display: block;
    top: 30px;
    height: 50px;
}

.hookahsBlock2 .telInfo img {
    position: relative;
    left: 5px;
}

.telInfo span {
    left: 70px;
    top: -15px;
}

.hookahsBlock2 .order {
    position: relative;
    display: block;
    height: 50px;
    top: 30px;
}

.telInfo span {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 4px;
    color: #ffffff;
}

@media screen and (max-width: 1440px) {

    .headerMap .layer img {
        position: absolute;
        top: 0px;
        left: 40px;
        width: 990px;
        height: 300px;
    }

    .codMap {
        position: relative;
        top: 110px;
        left: 76px;
        width: 990px;
        height: 600px;
    }
}