* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0px;
    font-family: 'DIN Pro';
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    display: table;
    width: 100%;
    background-color: #272526;
}

body .leftHalf {
    position: relative;
    display: block;
    width: 20%;
    float: left;
}

body .rightHalf {
    position: relative;
    display: block;
    width: 80%;
    float: right;
}

.headerMap .layer img {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 1270px;
    height: 265px;
}

.headerMap {
    position: relative;
    margin-left: 36px;
    height: 140px;
}

.headerMap .menu {
    position: relative;
    display: block;
    float: left;
    top: 35px;
}

.menu li {
    position: relative;
    display: inline-block;
    margin-left: 125px;
    float: left;
}

.menu li a {
    font-size: 20px;
    line-height: 4px;
    text-decoration: none;
    color: #ffffff;
    font-weight: lighter;
}

.headerMap .setting {
    position: relative;
    display: block;
    float: left;
    top: 13px;
    left: 18px;
}

.headerMap .radio {
    position: relative;
    display: block;
    float: left;
    top: 30px;
    left: 60px;
}

.radio a {
    position: relative;
    display: block;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
}

.headerMap .speaker {
    position: relative;
    display: block;
    float: left;
    top: 10px;
    left: 80px;
}

.titleMap {
    position: relative;
    display: block;
}

.titleMap h1 {
    position: relative;
    display: block;
    font-size: 45px;
    line-height: 10px;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
}

.titleMap h2 {
    position: relative;
    display: block;
    font-size: 26px;
    line-height: 5px;
    color: #ffffff;
    font-weight: normal;
    top: 30px;
    text-align: center;
}

.codMap {
    width: 1270px;
    height: 720px;
}

.footer {
    position: relative;
    display: table;
    width: 100%;
    top: 20px;
}

.footer .logoMain {
    position: relative;
    display: inline-block;
    width: 22%;
    float: left;
}

.footer p {
    position: relative;
    display: inline-block;
    width: 55%;
    float: left;
}

.footer .infoTel {
    position: relative;
    display: inline-block;
    width: 20%;
    float: right;
}

p {
    font-size: 9px;
    color: #ffffff;
    text-align: center;
    top: 10px;
}

.logoMain img {
    position: absolute;
    display: block;
    left: 145px;
    top: 10px;
}

.logoMain .promo {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 3px;
    color: #ffffff;
    top: 30px;
    left: 210px;
}

.logoMain .variant {
    position: relative;
    display: block;
    font-size: 8px;
    line-height: 2px;
    color: #ffffff;
    top: 40px;
    left: 210px;
}

.infoTel .web {
    position: relative;
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    top: 10px;
    margin-left: 5px;
}

.infoTel img {
    position: absolute;
    display: block;
    top: 35px;
    margin-left: 5px;
}

.infoTel .callTel {
    position: relative;
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    top: 20px;
    margin-left: 70px;
}

.account {
    position: relative;
    display: block;
    height: 210px;
}

.circusProfile .fotoAcc {
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-radius: 75px;
    color: #00fffc;
    top: 7px;
    left: 32px;
}

.circusProfile .online {
    position: relative;
    display: block;
    width: 33px;
    height: 33px;
    border: 5px solid;
    border-color: #292427;
    border-radius: 16px;
    background-color: #00fffc;
    top: 115px;
    left: 142px;
}

.account .nikNameMap {
    position: relative;
    display: inline;
    font-size: 18px;
    line-height: 4px;
    color: #ffffff;
    top: 125px;
    left: 137px;
}

.account .statusMap {
    position: relative;
    display: inline;
    font-size: 15px;
    line-height: 3px;
    color: #ffffff;
    top: 145px;
    left: 35px;
}

.listHookahs {
    position: relative;
    display: block;
    height: 750px;
}

.hookahsBlock1 {
    position: relative;
    display: block;
    height: 270px;
    top: 30px;
    left: 70px;
}

.nameHookahs {
    height: 50px;
}

.hookahsBlock1 .nameHookahs span:nth-child(1) {
    display: block;
    height: 19px;
    font-size: 24px;
    line-height: 5px;
    color: #ffffff;
}

.hookahsBlock1 .nameHookahs span:nth-child(2) {
    display: block;
    height: 15px;
    font-size: 20px;
    line-height: 4px;
    color: #ffffff;
    font-weight: lighter;
    padding-top: 5px;
}


.hookahsBlock1 .infoText p {
    display: block;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    height: 50px;
    top: -10px;
}

.hookahsBlock1 .ratingArea1 input:checked ~ label,
#reviewStars-input label,
#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
    background: url('../../../src/img/png/zvezda.png') no-repeat;
}

.hookahsBlock1 .ratingArea1 {
    height: 30px;
    overflow: hidden;
    *zoom: 1;
    position: relative;
    float: left;
}

.hookahsBlock1 .ratingArea1 input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.hookahsBlock1 .ratingArea1 input:checked ~ label {
    background-position: 0 -19px;
    height: 20px;
    width: 20px;
}

.hookahsBlock1 .ratingArea1 label {
    background-position: 0 0;
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.hookahsBlock1 .ratingArea1 label:hover,
.ratingArea1 label:hover ~ label {
    background-position: 0 -19px;
    height: 20px;
    width: 20px;
}

.infoHookahs {
    position: relative;
    height: 25px;
    top: 30px;
}

.hookahsBlock1 .infoHookahs span:nth-child(1) {
    position: absolute;
    display: block;
    font-size: 20px;
    line-height: 4px;
    color: #ffffff;
    float: left;
}

.hookahsBlock1 .infoHookahs span:nth-child(2) {
    position: relative;
    display: block;
    font-size: 26px;
    line-height: 5px;
    color: #ffffff;
    margin-left: 185px;
}

.hookahsBlock1 .telInfo {
    position: relative;
    display: block;
    top: 35px;
    height: 50px;
}

.hookahsBlock1 .telInfo img {
    position: relative;

}

.hookahsBlock1 .order {
    position: relative;
    display: block;
    height: 50px;
    top: 30px;
}

.telInfo span {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 4px;
    color: #ffffff;
}

.hookahsBlock2 .ratingArea2 input:checked ~ label,
#reviewStars-input label,
#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
    background: url('../../../src/img/png/zvezda.png') no-repeat;
}

.hookahsBlock2 .ratingArea2 {
    overflow: hidden;
    *zoom: 1;
    position: relative;
    float: left;
}

.hookahsBlock2 .ratingArea2 input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.hookahsBlock2 .ratingArea2 input:checked ~ label {
    background-position: 0 -17px;
    height: 20px;
    width: 20px;
}

.hookahsBlock2 .ratingArea2 label {
    background-position: 0 0;
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.hookahsBlock2 .ratingArea2 label:hover,
.ratingArea2 label:hover ~ label {
    background-position: 0 -17px;
    height: 20px;
    width: 20px;
}